# Builds Android
app/build/
*.apk
*.aab

# Modèles IA (trop lourds pour Git)
app/src/main/assets/vosk-model-*/
app/src/main/assets/*.tflite

# Datasets - ignore le contenu MAIS garde les dossiers
data/vision/datasets/*
!data/vision/datasets/.gitkeep

data/speech/fr_accents/*
!data/speech/fr_accents/.gitkeep

data/speech/en_accents/*
!data/speech/en_accents/.gitkeep

data/nlp/datasets/*
!data/nlp/datasets/.gitkeep

# Environnement Python
voxia-env/
__pycache__/
*.pyc

# Android Studio
.idea/
*.iml
local.properties

# Clés privées
*.jks
keystore.propertiesdata/vision/runs/
data/vision/yolov8n.pt
