# Builds Android
app/build/
*.apk
*.aab

# Modèles IA (trop lourds pour Git)
app/src/main/assets/vosk-model-*/
app/src/main/assets/*.tflite

# Datasets (stockés séparément)
data/vision/datasets/
data/speech/fr_accents/
data/speech/en_accents/
data/nlp/datasets/

# Environnement Python
voxia-env/
__pycache__/
*.pyc

# Android Studio
.idea/
*.iml
local.properties

# Clés privées
*.jks
keystore.properties